.app {
  max-width: 80rem; /* 80 & 16px = 1280px */
}

.spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url('https://cdn.dribbble.com/users/51771/screenshots/3650224/netneutrality-fidget-spinner-animated.gif')
    50% 50% no-repeat rgb(249, 249, 249);
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 780px) {
  .content {
    flex-direction: column;
  }
}
